.project-page {
    width: 50%;
    margin: 0 auto;
}

.button-group {
    display: flex;
}

.project-row {
    margin: 0.5rem 0;
}

@media only screen and (max-width: 1200px) {
    .project-page {
        width: 95%;
    }
}